@use 'sass:math';
@use 'settings' as *;
@use 'layout';

#masthead {
  margin-bottom: 0;

  #site-name {
    grid-column: 2/7;
    align-self: start;
    grid-row: 1/2;
    justify-self: start;
  }

  nav#languages {
    grid-column: side-content;
    align-self: start;
    grid-row: 1/2;
    justify-self: end;
  }

  &::after {
    content: '';
    border-left: 1px solid $primary-color;
    height: #{$golden1 * 100%};
    grid-column: 8/9;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
  }
}

%article-header-common {
  // same proportions as %golden-section-hero-golden, but with a few rows in each for flexibility (like adding the masthead)
  grid-template-rows:
  // total height of the graphic spread is 100% of the viewport's height
  [header-start header-golden-full-start header-golden-large-start] minmax(min-content, #{$golden1 * 100}vh)  // top golden zone (smaller)
  [header-golden-large-end header-golden-small-start] minmax(min-content, #{$golden2 * 100}vh)  // bottom golden zone (larger)
  [header-golden-small-end header-golden-full-end figcaption-start] min-content                         // figcaption
  [figcation-end header-end] ;

  @media screen and (min-width: $breakpoint-medium) {
    grid-template-rows:
    // total height of the graphic spread is 85% of the viewport's height
    [header-start header-golden-full-start header-golden-large-start] repeat(4, minmax(min-content, #{math.div($golden1 * 85, 4)}vh))  // top golden zone (smaller)
    [header-golden-large-end header-golden-small-start] repeat(3, minmax(min-content, #{math.div($golden2 * 85, 3)}vh))  // bottom golden zone (larger)
    [header-golden-small-end header-golden-full-end figcaption-start] min-content                         // figcaption
    [figcation-end header-end] ;
  }

  h1,
  #article-subheader,
  img,
  figcaption {
    grid-column: full;
  }

  h1 {
    grid-column: 2/13;
    justify-self: start;
    grid-row: header-golden-large;
    align-self: end;
    z-index: 3;
    margin-bottom: 0;

    &::after {
      content: "";
      border-bottom: 1px solid $primary-color;
      display: block;
      //we want the width of this border to be in a golden relationship with the whitespace on either side of it
      width: #{$golden1 * 100%};
      //margin-left: #{math.div($golden1, 2) * 100%};
    }
  }

  #article-subheader {
    grid-column: 2/13;
    justify-self: start;
    grid-row: header-golden-small;
    align-self: start;
    z-index: 3;
  }

  @media screen and (min-width: $breakpoint-medium) {

  }
}


#article-header-default {
  @extend %article-header-common;
}

#article-header-hero {
  @extend %article-header-common;

  img {
    height: 100%;
    object-fit: cover;
    z-index: 0;
    //filter: brightness(60%);
  }

  h1,
  #article-subheader {
    color: #f3f3f3;
    text-shadow: 0 0 1.5rem #000,0 0 1rem #000;
  }

  // box-shadows to simulate depth, similar to layout.%olden-section
  &::before {
    content: '';
    grid-row: header-golden-full;
    grid-column: full;
    box-shadow: 0 0 2rem 0 #44000077;
    z-index: 4;
  }

  @media screen and (min-width: $breakpoint-medium) {

    img {
      grid-row: header-golden-full;
    }

    // gradient for better legibility of text on the left side. Pseudo-element needs to be a child of the grid in order to be placed on it.

    &::after {
      content: '';
      background: linear-gradient(60deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
      // TODO: see if we can figure out the proper angle of the gradient by using viewport units and arctangent
      grid-column: full;
      grid-row: header-golden-full;
      z-index: 2;
    }
  }
}
