@use '../settings' as *;

@mixin default($width: 65ch) {

  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(min-content, $width) minmax(.5rem, 1fr);
  margin-bottom: 3rem;

  figure {
    grid-column: 1 / 4;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  h3, p {
    grid-column: 2 / 3;
  }

  h3 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  figcaption {
    padding-left: 0;
    padding-right: 0;
  }
}


//////////////////////////////////////////////////

@mixin side-by-side-figures($column-gap: 0, $rows: 2) {

  // A little utility to place two figures side by side in a grid, and have a (manual) caption spread underneath.
  // If we have more than to opictures (e.g. two rows of two pictures and one row of caption), increase $rows to add more explicit rows so the explicit placement of the caption works.

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $column-gap;
  grid-template-rows: repeat($rows, min-content);

  p.caption {
    grid-column: 1/3;
    grid-row: -2/-1;
    margin-top: .2rem;
    margin-bottom: 1rem;
  }
}

//////////////////////////////////////////////////

.post-default-text, .post-default-project {
    padding: .5em;

    .post-image {
        width: 100%;
        max-width: $breakpoint-large;
        margin: auto;
        display:block;
    }

    header {
        text-align: center;
    }

    .entry-content > div {
      display: grid;
      grid-template-columns: minmax(1em, 1fr)
       minmax(0, 65ch) minmax(1em, 1fr);

      & > * {
        grid-column: 2 / 3;
      }

      .full-width, section {
        grid-column: 1 / 4;
      }

      & > section {
        display: grid;
        grid-template-columns: minmax(0, 1fr)
         minmax(0, 65ch) minmax(0, 1fr);

         & > * {
           grid-column: 2 / 3;
         }

         .full-width {
           grid-column: 1 / 4;
           margin: auto;
         }
      }

    }

    @media screen and (max-width: $breakpoint-medium) {
      figure, {
          margin-left: -.5em;
          margin-right: -.5em;
      }
    }
}

header {
  margin-bottom: 3rem;
}

.highlights {
  max-width: 65ch;
  margin: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}


// Attribution lines in blockquotes should be flushed right

.attribution {
    text-align: right;
}


// Objects, videos need to be constrained to their parent.

object, video {
    max-width: 100%;
}

svg {
    // TODO: avoid cropping; https://css-tricks.com/scale-svg/
}

// Footnotes

.footnote {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: .5rem;

  .label {
    grid-column: 1/2;
  }

  > p {
    grid-column: 2/3;
  }
}
