@use '../settings' as *;
@use '../modules/fonts';

/**
* Define our fonts
*/

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  @extend %phenix-serif;
  color: $body-font-color;
}

h1 {
  @extend %phenix-serif-bold;
}

h2,
h3,
h4,
.stakes-header-text {
  @extend %phenix-sans-bold;

  em {
    @extend %phenix-sans-italic;
  }
}

// font sizes

p,
li,
ol,
#skip-to-content {
  font-size: $base-unit;
  // = min(calc(1.2rem + .5vw), 2rem)
}

%smaller-font-size {
  font-size: min(calc(1rem + .4vw), 1.7rem);
}

h1 {
  font-size: min(calc(2.5rem + 2.5vw), 5.5rem);
}

h2 {
  font-size: min(calc(2rem + 1.5vw), 4rem);
}

%larger-font-size {
  font-size: min(calc(1.5rem + .65vw), 3.5rem);
}

h3,
.highlights p,
%large-font-size {
  font-size: min(calc(1.4rem + .6vw), 3rem);
}

@mixin larger-font-size() {
  // same as above but for use in media queries where we can't extend
  font-size: min(calc(1.5rem + .65vw), 3.5rem);
}


strong {
  @extend %phenix-serif-bold;
}

em,
.admonition.note p {
  @extend %phenix-serif-italic;
}

em strong,
strong em {
  @extend %phenix-serif-bolditalic;
}

pre {
  @extend %phenix-monospace;

  strong {
    @extend %phenix-monospace-bold;
  }

  em {
    @extend %phenix-monospace-italic;
  }

  em strong,
  strong em {
    @extend %phenix-monospace-bolditalic;
  }
}

.expert,
.expert p {

  @extend %phenix-sans;
  @extend %smaller-font-size;

  strong {
    @extend %phenix-sans-bold;
  }

  em {
    @extend %phenix-sans-italic;
  }

}

blockquote {
  @extend %phenix-serif-italic;
}

figcaption p,
.caption,
.legend,
.sidebar {
  @extend %phenix-sans;
  @extend %smaller-font-size;

  em {
    @extend %phenix-sans-italic;
  }

  strong {
    @extend %phenix-sans-bold;
  }
}

figcaption, .caption {
  color: #6a6a6a;

  a {
    color: #6a6a6a;

    &:hover {
      color: $primary-color;
    }
  }
}


a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: $body-font-color;

  &.privacy-policy {
    text-decoration-line: none;
  }

}

.footnote-reference {
  text-decoration: none;
  font-size: 80%;
  // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}


h2,
h3 {
  text-align: center;
}

.highlights {
  @extend %phenix-serif;
  font-style: normal;
  padding: 0;
  border: none;

  em {
    @extend %phenix-serif-italic;
    font-style: italic;
  }
}

p.continue-reading {
  @extend %phenix-sans-bold;
  text-align: right;
  margin-top: .5rem;

  a::after {
    content: "☞";
    display: inline-block;
    margin-left: .3rem;
  }
}

// Footnotes

.footnote-reference,
.fn-backref,
.footnote p {
  @extend %smaller-font-size;
  text-decoration: none;
}

.footnote-reference,
.fn-backref {
  text-decoration: none;
}

.fn-backref {
  align-self: start;
}

section:last-child, p:last-child {
  margin-bottom: 0;
}

// Footer

body > footer {
  @extend %phenix-sans;

  button {
    @extend %phenix-sans-bold;
  }
}
