<ul>
    <li>
        <a{{__pyjade_attrs(attrs=[('href',(source.editPrefix)), ('+ sourcePath.dir + / + sourcePath.base',(True)), ('title',(__('editlinks-edit-title')))])}}>{{__('editlinks-edit-label')|escape}}</a>
    </li>

    <li>
        <a{{__pyjade_attrs(attrs=[('href',(source.historyPrefix)), ('+ sourcePath.dir + / + sourcePath.base',(True)), ('title',(__('editlinks-history-title')))])}}>{{__('editlinks-history-label')|escape}}</a>
    </li>
</ul>
