<section class="hero">

    {% include "_topbar.tmpl" %}

    <div class="row intro">
        <div class="small-centered medium-centered large-centered">
            <h1>{{title|escape}}</h1>
            {% if  subtitle %}
                <h2>{{subtitle|escape}}</h2>
            {% endif %}

            <p>{{__('publish_date', moment(date).locale(locale).format('LL'))|escape}}</p>
        </div>
    </div>
</section>
