<ul class="menu expanded icons icon-top text-center hide-for-large" id="icon_navbar">
    {% for page in ['home', 'projects', 'writing', 'contact'] %}
        <li>
            <a href="{{ messages('iconbar_' + page + '_link')}}" class="item">
                <i class="{{ messages('iconbar_' + page + '_class')}}"></i>
                <span class="show-for-medium">{{ messages('iconbar_' + page + '_label')}}</span>
            </a>
        </li>
    {% endfor %}
</ul>
