{% if headings %}
    <nav>
        <ul>
            {% for header in __pyjade_iter(headings,1) %}
                <li>
                    <a{{__pyjade_attrs(attrs=[('href!',("#"+"{}".format(header.id)+""))])}}>{{header.text}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
