<nav id="topbar" data-topbar role="navigation" class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a{{__pyjade_attrs(attrs=[('href',(__('topbar_home_link'))), ('title',(__('topbar_home_title')))])}}>
                    <span class="show-for-large-up">guillaumepaumier</span>
                    <span class="show-for-medium-only">gpaumier</span>
                    <span class="show-for-small-only">gp</span>
                </a>
            </h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li class="divider show-for-large-up"></li>

            {% for item in __pyjade_iter(['articles', 'about', 'projects'],1) %}
                <li class="show-for-large-up">
                    <a{{__pyjade_attrs(attrs=[('href',(__('topbar_' + item + '_link'))), ('title',(__('topbar_' + item + '_title')))])}}>{{__('topbar_' + item + '_label')|escape}}</a>
                </li>
                <li class="divider show-for-large-up">
                </li>
            {% endfor %}

            <!-- We need a divider before our tools unless there's already one from the page links.-->

            <li class="divider hide-for-large-up"></li>

            <li>
                <a href="#"{{__pyjade_attrs(attrs=[('title',(__('topbar_search_title')))])}} data-dropdown="searchDrop" aria-controls="searchDrop" aria-expanded="false">
                    <i{{__pyjade_attrs(attrs=[('class', ((__('topbar_search_class'))))])}}></i>
                    <span class="topbar-tool-label fa-label">{{__('topbar_search_label')|escape}}</span>
                </a>

                <div id="searchDrop" data-dropdown-content="data-dropdown-content"{{__pyjade_attrs(attrs=[('aria-hidden',(true))])}} tabindex="-1" class="f-dropdown content mega">
                    <p>test</p>
                </div>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown">
                <a href="#"{{__pyjade_attrs(attrs=[('title',(__('topbar_langswitch_title')))])}}>
                    <i{{__pyjade_attrs(attrs=[('class', ((__('topbar_langswitch_class'))))])}}></i>
                    <span class="topbar-tool-label fa-label">{{__('locale-autonym-' + locale)|escape}}</span>
                </a>

                <ul class="dropdown">
                    {% for loc in __pyjade_iter(locales,1) %}
                        {% if  loc != locale %}
                            {% if  typeof(lang(loc)) != 'undefined' %}
                                <li>
                                    <a{{__pyjade_attrs(attrs=[('href',('/'+))])}} langloc.path="()">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="fa-label">{{__('locale-autonym-' + loc)|escape}}</span>
                                    </a>
                                </li>

                            {% else %}
                                <li class="topbar-disabled-item">
                                    <i class="fa fa-ban"></i>
                                    <span class="fa-label">{{__('locale-autonym-' + loc)|escape}}</span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>
</nav>
