{% extends 'base.tmpl' %}

{% block header %}
    {% include "_header.tmpl" %}
{% endblock %}

{% block content %}
<article class="post-project h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">

    {% if post.meta('image') %}
        <img src="{{ post.meta('image') }}" class="post-image"/>
    {% endif %}

    <header>
        <h1 class="p-name entry-title" itemprop="headline name">{{ post.title()|e }}</h1>

        <p class="dateline"><time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date( messages('date_format_long'))|e }}</time></p>

        {% if post.meta('end') %}
            <p>{{ post.meta('end') }}</p>
        {% endif %}

    </header>

    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>

</article>
{% endblock %}
