{#  -*- coding: utf-8 -*- #}
{% block content %}

    <div id="{{ post_list_id }}" class="project-list-featured">
        {% if posts %}
            {% for post in posts %}

            <article class="snippet row">
                <div class="snippet-image column medium-6">
                    {% if post.meta('image') %}
                        <img src="{{ post.meta('image') }}"/>
                        {% endif %}
                </div>

                <div class="snippet-text column medium-6">
                    <h3>
                        <a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a>
                        {% if post.meta('subtitle') %}
                            <small>– {{ post.meta('subtitle'|e) }}</small>
                        {% endif %}
                    </h3>

                    <p>{{ post.text() | get_lead_text }}</p>

                    <p class="snippet-date"><time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date( messages('date_format_long'))|e }}</time></p>
                </div>
            </article>

            <hr>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
