{% extends "master.tmpl" %}

{% block header %}
    {% include "_simpleHeader.jade" %}
{% endblock %}

{% block article %}
    <article>
        <div class="article-content row">
            {{contents}}
        </div>
        <p>{{topics|escape}}</p>
    </article>
{% endblock %}

{% block editLinks %}
    {% include "_editLinks.tmpl" %}
{% endblock %}

{% block nav %}
    {% include "_prevnext.tmpl" %}
{% endblock %}
