<aside id="prefooter">
    <p id="edit-link">
        <span id="edit-link-icon" aria-hidden="true">✍</span>
        <span id="edit-link-text">
            {% set language_suffix = '' %}
            {% if lang != default_lang and post.is_translation_available(default_lang) %}
              {% set language_suffix = '_' + lang %}
            {% endif %}
            {% set edit_url = messages('edit_link_github_prefix') + post.post_name | urlencode() + language_suffix + post.source_ext() %}
            <a href="{{ edit_url }}">{{ messages('edit_link_label') }}</a>
        </span>
    </p>
    <link rel="alternate" type="application/x-wiki" title="{{ messages('edit_link_label') }}" href="{{ edit_url }}"/>
</aside>
