<footer>
  <nav aria-labelledby="footer-title">
    <h2 id="footer-title">{{ messages('footer_title')}}</h2>

    <section id="footer-main-links">
      <h3>{{ messages('menu_section_main_links')}}</h3>
      <ul>
        {% for page in ['home', 'writing', 'wikimedia', 'play', 'siteinfo'] %}
            <li>
                <a href="{{ messages('menu_' + page + '_link')}}" class="item">{{ messages('menu_' + page + '_label')}}</a>
            </li>
        {% endfor %}
      </ul>
    </section>

    <section id="footer-elsewhere">
      <h3>{{ messages('menu_section_elsewhere')}}</h3>
      <ul>
        {% for elsewhere in ['linkedin', 'newsletter', 'instagram', 'threads'] %}
            <li>
                <a href="{{ messages('menu_' + elsewhere + '_link')}}" rel="me" class="item">{{ messages('menu_' + elsewhere + '_label')}}</a>{{ messages('menu_description_separator')}}{{ messages('menu_' + elsewhere + '_description')}}
            </li>
        {% endfor %}
      </ul>
    </section>

    <section id="footer-contact">
    <h3>{{ messages('menu_section_contact')}}</h3>
    {% block contact_form %}
        {% include "_contact_form.j2" %}
    {% endblock %}
  </section>

  </nav>
</footer>

<script src="/assets/js/scripts.js"></script>
