<header id="masthead">
  <p id="site-name">
    <a href="{{ abs_link(_link("root", None, lang)) }}" title="{{ blog_title|e }}" rel="home">
      <span id="site-logo" aria-hidden="true">🦉</span>
      <span id="site-name-first-initial">{{ messages('site_name_first_initial') }}</span>
      <span id="site-name-first">{{ messages('site_name_first') }}</span>
      <span id="site-name-last">{{ messages('site_name_last') }}</span>
    </a>
  </p>
  <nav id="languages" aria-label="Language selector">
	  <ul class="clicky-menu no-js">
		  <li>
      <a href="#" id="current-language">
        <img id="language-selector-icon" aria-hidden="true" src="/assets/images/language.svg">
        <span id="language-selector-current-language">{{ messages("LANGUAGE", lang) }}</span>
        <img id="language-selector-caret" aria-hidden="true" src="/assets/images/caret.svg">
      </a>
        <ul class="menu vertical">
          {% for langname in translations|sort %}
            {% if langname != lang %}
              {% if post.is_translation_available(langname) %}
                <li>
                  <a class="masthead-enabled-item" href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a>
                </li>
              {% else %}
                <li>
                  <span class="masthead-disabled-item">{{ messages("LANGUAGE", langname) }}</span>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>
