{% import 'base_helper.tmpl' as base with context %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if use_base_tag %}
    <base href="{{ abs_link(permalink) }}">
{% endif %}
{% if description %}
    <meta name="description" content="{{ description|e }}">
{% elif post %}
    <meta name="description" content="{{ post.text() | get_lead_text | striptags | replace('"', '') | replace("'", "’")}}">
{% endif %}

{% if post %}
    {% if post.meta('subtitle') and abs_link(permalink) != abs_link('/') %}
        {% set full_title = post.title() ~ ': ' ~ post.meta('subtitle') %}
    {% else %}
        {% set full_title = post.title() %}
    {% endif %}
{% else %}
    {% set full_title = title %}
{% endif %}
<title>{{ full_title|e }} | {{ blog_title|e }}</title>

<link rel="canonical" href="{{ abs_link(permalink) }}">
{% for langname in translations|sort %}
    {% if post.is_translation_available(langname) %}
    <link rel="alternate" hreflang="{{langname}}" href="{{ post.permalink(lang = langname, absolute = True) }}" />
    {% endif %}
{% endfor %}

<link href="/assets/styles/phenix.css" rel="stylesheet">

{{ base.html_feedlinks() }}

{% include "_opengraph.j2" %}
{% include "_schemaorg.j2" %}

{% if favicons %}
    {% for name, file, size in favicons %}
        <link rel="{{ name }}" href="{{ file }}" sizes="{{ size }}"/>
    {% endfor %}
{% endif %}

{% block css %}
{% endblock %}

{% if prevlink %}
    <link rel="prev" href="{{ prevlink }}" type="text/html">
{% endif %}
{% if nextlink %}
    <link rel="next" href="{{ nextlink }}" type="text/html">
{% endif %}

{{ mathjax_config }}
