<header id="masthead">
  <p id="site-name">
    <a href="{{ abs_link(_link("root", None, lang)) }}" title="{{ blog_title|e }}" rel="home">{{ blog_title|e }}</a>
  </p>
  <nav id="languages" aria-label="Language selector">
	  <ul class="clicky-menu no-js">
		  <li>
      <a href="#" id="current-language">{{ messages("LANGUAGE", lang) }}</a>
        <ul class="menu vertical">
          {% for langname in translations|sort %}
            {% if langname != lang %}
              {% if post.is_translation_available(langname) %}
                <li>
                  <a class="masthead-enabled-item" href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a>
                </li>
              {% else %}
                <li>
                  <span class="masthead-disabled-item">{{ messages("LANGUAGE", langname) }}</span>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>
