{% if post %}
  {% if post.meta('image') %}
          {% set image_url = abs_link(_link("root", None, 'en')) | trim('/') + post.meta('image') %}
      {% else %}
          {% set image_url = abs_link(_link("root", None, 'en')) + messages('opengraph_default_image') %}
      {% endif %}
  {% if post.meta('subtitle') %}
    {% set full_title = post.title() ~ ': ' ~ post.meta('subtitle') %}
  {% else %}
    {% set full_title = post.title() %}
  {% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if post.meta('type') == 'page' or post.is_page %}WebPage{% else %}Article{% endif %}",
  "headline": {{ full_title|tojson }},
  "description": {{ description | default(post.text() | get_lead_text | striptags | truncate(199, False, '…', 0)) | tojson }},
  {% if post.tags %}
  "keywords": {{ post.tags | join(', ') | tojson }},
  {% endif %}
  "image": {{ image_url|tojson }},
  "url": {{ abs_link(permalink)|tojson }},
  "datePublished": "{{ post.date.isoformat() }}",
  {% if post.updated_date %}
  "dateModified": "{{ post.updated_date.isoformat() }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": {{ messages("schemaorg_author_name")|tojson }},
    "url": "{{ messages('meta_author_url') }}",
    "sameAs": [
      {% set socials = ['menu_linkedin_link', 'menu_threads_link', 'menu_instagram_link', 'schemaorg_bsky_link', 'schemaorg_github_link', 'schemaorg_wikipedia_link', 'schemaorg_wikidata_link', 'schemaorg_librarything_link', 'schemaorg_diffwikimedia_link' ] %}
      {% for key in socials %}
      "{{ messages(key) }}"{% if not loop.last %},{% endif %}
      
      {% endfor %}
    ]
  },
  "publisher": {
  "@type": "Organization",
  "name": {{ messages("schemaorg_author_name")|tojson }},
  "logo": {
    "@type": "ImageObject",
    "url": {{ abs_link(messages("schemaorg_logo_url"))|tojson }},
    "description": {{ messages("schemaorg_logo_alt")|tojson }}
  }
},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ abs_link(permalink)|tojson }}
  }
}
</script>
{% endif %}
