{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.j2' %}

{% block head %}
    <head>
        {% include "_head_post.j2" %}
    </head>
{% endblock %}

{% block header %}
    {% include "_header.j2" %}
{% endblock %}

{% block content %}
<article class="page h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/WebPage">

  <header id="article-header-hero">
    <h1 class="p-name entry-title" itemprop="headline name">
      {% if post.meta('h1-override') %}
        {{ post.meta('h1-override') }}
      {% else %}
        {{ post.title()|e }}
      {% endif %}
    </h1>

    {% if post.meta('subtitle') %}
      <p id="article-subheader" class="subheader post-subtitle">
        {{ post.meta('subtitle') }}
      </p>
    {% endif %}

    {{ post.text() | get_lead_figure }}
  </header>

  <div id="article-content-hero" class="e-content entry-content {% if post.meta('class') %}{{ post.meta('class') }}{% endif %}" itemprop="articleBody text">
    {{ post.text() | remove_lead_figure }}
  </div>

  {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
