{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.tmpl' %}

{% block head %}
    <head>
        {% include "_head_post.tmpl" %}
    </head>
{% endblock %}

{% block header %}
    {% include "_header.tmpl" %}
{% endblock %}

{% block content %}
<article class="page h-entry hentry postpage  custom-{{ post.meta('slug') }}" itemscope="itemscope" itemtype="http://schema.org/WebPage">

  <header id="article-header">
    <h1 class="p-name entry-title" itemprop="headline name">
      {{ post.title()|e }}
    </h1>

    {% if post.meta('subtitle') %}
      <p class="subheader post-subtitle">
        {{ post.meta('subtitle') }}
      </p>
    {% endif %}

    {{ post.text() | get_lead_figure }}
  </header>

  <div id="article-content" class="e-content entry-content {% if post.meta('class') %}{{ post.meta('class') }}{% endif %}" itemprop="articleBody text">
    {{ post.text() | remove_lead_figure }}
  </div>

  {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
