{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.tmpl' %}

{% block head %}
    <head>
        {% include "_head_post.tmpl" %}
    </head>
{% endblock %}

{% block header %}
    {% include "_header.tmpl" %}
{% endblock %}

{% block content %}
<article class="page h-entry hentry postpage page-default {% if post.meta('class') %}{{ post.meta('class') }}{% endif %}" itemscope="itemscope" itemtype="http://schema.org/WebPage">

    {% if post.meta('image') %}
        <img src="{{ post.meta('image') }}" class="post-image"/>
    {% endif %}

    <header>
        <h1 class="p-name entry-title" itemprop="headline name">{{ post.title()|e }}</h1>

        {% if post.meta('subtitle') %}
            <h1 class="subheader post-subtitle">{{ post.meta('subtitle') }}</h1>
        {% endif %}
    </header>

    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>

    {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
