{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.j2' %}

{% block head %}
    <head>
        {% include "_head_post.j2" %}
    </head>
{% endblock %}

{% block header %}
    {% include "_header.j2" %}
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} post-{{ post.meta('slug') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">

    <header id="article-header-hero">
        <h1 class="p-name entry-title" itemprop="headline name">{{ post.title()|e }}</h1>

        {% if post.meta('subtitle') %}
          <p id="article-subheader" class="subheader post-subtitle">
            {{ post.meta('subtitle') }}
          </p>
        {% endif %}

        {{ post.text() | get_lead_figure }}

        <p class="dateline"><time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date( messages('date_format_long'))|e }}</time></p>
    </header>

    <div id="article-content-hero" class="e-content entry-content {% if post.meta('class') %}{{ post.meta('class') }}{% endif %}" itemprop="articleBody text">
    {{ post.text() | remove_lead_figure }}
    </div>

    {% block edit_link %}
        {% include "_edit_link.j2" %}
    {% endblock %}

    {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
