{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.j2' %}

{% block head %}
    <head>
        {% include "_head_post.j2" %}
    </head>
{% endblock %}

{% block header %}
    {% include "_header.j2" %}
{% endblock %}

{% block content %}
<article class="post-default-{{ post.meta('type') }} post-{{ post.meta('slug') }} h-entry hentry postpage {% if post.meta('class') %}{{ post.meta('class') }}{% endif %}" >

    <header id="article-header-default">
        <h1 class="p-name entry-title">{{ post.title()|e }}</h1>

        {% if post.meta('subtitle') %}
          <p id="article-subheader" class="subheader post-subtitle">
            {{ post.meta('subtitle') }}
          </p>
        {% endif %}

        <p class="dateline"><time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date( messages('date_format_long'))|e }}</time></p>
    </header>

    <div id="article-content-default" class="e-content entry-content">
    {{ post.text() }}
    </div>

    {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
