{#  -*- coding: utf-8 -*- #}
{% block content %}

<!-- TODO: Rename this to get rid of "project", convert to CSS grid, change writings listings to new tmpl name -->

    <div id="{{ post_list_id }}" class="project-list-featured grid-container">
        {% if posts %}
            {% for post in posts %}

            <article class="snippet grid-x grid-margin-x">
                <div class="snippet-image cell medium-6">
                    {% if post.meta('image') %}
                        <img src="{{ post.meta('image') }}"/>
                        {% endif %}
                </div>

                <div class="snippet-text cell medium-6">
                    <h3>
                        <a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a>
                        {% if post.meta('subtitle') %}
                            <small>– {{ post.meta('subtitle'|e) }}</small>
                        {% endif %}
                    </h3>

                    <div>{{ post.text() | get_lead_text }}</div>

                    <p class="snippet-date"><time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date( messages('date_format_long'))|e }}</time></p>
                </div>
            </article>

            <hr>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
