@include foundation-responsive-embed;


article.custom-wikimedia2030 {

  #your-mission-should-you-choose-to-accept-it {
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );
  }


  #we-chose-to-do-this-not-because-it-was-easy {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

    .team {
      @include place-split-layout-element(right, "1/8");
      align-self: center;
      @include honeycomb(5, 3)
    }

    .katherine{
      @include honeycomb-place-image(2, 1);
      img {
        object-position: 25% 50%;
      }
    }

    .adele {
      @include honeycomb-place-image(3, 2);
      img {
        object-position: 75% 50%;
      }
    }

    .williamsworks {
      @include honeycomb-place-image(2, 3);
      img {
        object-position: 65% 50%;
      }
    }

    .nicole {
      @include honeycomb-place-image(4, 3);
    }

    .juliet {
      @include honeycomb-place-image(1, 4);
    }

    .caption {
      grid-column: 7/11;
      grid-row: 11/15;
      align-self: end;
    }

  }

  #the-2030-horizon {
    @include split-layout-txt-pics(
      $image-side: left,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

  }

  #citations-needed {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

  }

  #building-alignment {
    @include split-layout-txt-pics(
      $image-side: left,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

  }

  /////////////////////////////////////////////////////////////


  #engaging-a-whole-movement {
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );
  }

  #learning-from-each-other {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );
  }

  #converging-on-a-strategic-direction {
    @include split-layout-txt-pics(
      $image-side: left,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );
  }


  /////////////////////////////////////////////////////////////


  #amplifying-new-voices {
    @include split-layout-txt-pics-hero(
      $image-side: left,
      $image-row-span: 3,
      $background: dark,
      $text-width: 68ch,
      $pics-width: 42ch,
    );
  }




  /////////////////////////////////////////////////////////////

  #recommendations-and-implementation {
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );
  }

  #phase-2-working-groups-and-recommendations {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );
  }

  #towards-implementation {
    @include split-layout-txt-pics(
      $image-side: left,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );
  }

  /////////////////////////////////////////////////////////////

  #the-people {
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );

    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 4,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

    .people {
      @include honeycomb(11, 8, 7rem)
    }

    // Macro to place the pictures on the honeycomb grid

    $people-pics-placement:
      // pic  half-column  row
      1  1  1,
      2  5  1,
      3  9  1,
      4  2  2,
      5  4  2,
      6  6  2,
      7  8  2,
      8  3  3,
      9  7  3,
      10  2  4,
      11  4  4,
      12  6  4,
      13  7  5,
      14  9  5,
      15  4  6,
      16  6  6,
      17  8  6,
      18  3  7,
      19  5  7,
      20  9  7,
      21  4  8,
      22  10  8;

      @each $pic, $honeycomb-half-column, $honeycomb-row in $people-pics-placement {
        .people#{$pic} {
          @include honeycomb-place-image($honeycomb-half-column, $honeycomb-row);
        }
      }

      // Macro to adjust the centering of some honeycomb pics

      $people-pics-position:
        // pic  x-pos  y-pos
        1  0% 50%,
        9  25% 50%,
        10  100% 50%,
        11  25% 50%,
        13  25% 50%,
        19  100% 50%;

        @each $pic, $x-position, $y-position in $people-pics-position {
          .people#{$pic} img {
            object-position: $x-position $y-position;
          }
        }

      .caption {
        grid-column: 11/18;
        grid-row: 23/26;
        align-self: end;
      }

  }
  /////////////////////////////////////////////////////////////


  .embed {
    @include responsive-embed("widescreen");
  }

}
