article.custom-phd {

  /////////////////////////////////////////////////////////////

  #technical-abstract,
  dl {
    @include graph-paper;
  }

  #technical-abstract {
    padding: 1.5rem calc(1.5rem + 2vw);
    border: 2px dotted #0B0;
    margin-bottom: 3rem;
  }

  /////////////////////////////////////////////////////////////

  #kudos {
    display: grid;
    grid-template-columns: minmax(.5rem, 2vw) 1fr 4fr minmax(.5rem, 2vw);
    grid-template-rows: minmax(.5rem, 10vh) 20vh min-content min-content;

    figure {
      grid-column: 1/6;
      grid-row: 1/3;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 70%;
        z-index: 25;
        filter: brightness(50%);
        transform: scaleX(-1);
      }

      figcaption{
        text-align: right;
      }

    }

    h2 {
      grid-column: 3/4;
      grid-row: 2/3;
      align-self: center;
      text-align: left;
      margin: 0;
      z-index: 50;
      color: #f3f3f3;

      @extend %hero-title;
    }

    blockquote {
      grid-column: 2/4;
      border-left: none;

      &:first-of-type {
        margin-top: 2rem;
      }

      p {
        font-size: calc(1rem + .5vw);
        line-height: calc(1.5rem + 1vw);
        margin-bottom: 1rem;
      }

      .attribution {
        font-size: calc(1rem + 0.15vw);
        line-height: calc(1.5rem + .4vw);
        padding-left: calc(1.5rem + 5vw);
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 150ch) and (min-height: 80ch){

      // if we have a large enough viewport, let's make a nice spread and overlay all the text

      grid-template-columns: minmax(.5rem, 2vw) minmax(min-content, 1fr) minmax(.5rem, 6vw) minmax(min-content, 1fr) minmax(.5rem, 2vw);
      grid-template-rows: minmax(.5rem, 2vh) 25vh 50vh minmax(.5rem, 2vh);

      figure {
        grid-column: 1/6;
        grid-row: 1/5;
      }

      h2 {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      blockquote {

        align-self: center;
        padding: 0;
        z-index: 50;
        margin-bottom: 0;

        &:first-of-type {
          grid-column: 2/3;
          grid-row: 3/4;
        }

        &:nth-of-type(2) {
          grid-column: 4/5;
          grid-row: 2/4;
        }

        p {
          color: #f3f3f3;
        }
      }
    }

  }

  /////////////////////////////////////////////////////////////


  #honey-i-shrunk-the-lab {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $background: light,
      $text-width: 68ch,
      $pics-width: 42ch,
    );

    h2 {
      // Use italics because it's a quote, and switch to serif because we don't have a bold italic sans font.
      @extend %fumseck-serif-bolditalic;
    }

    > figure:first-of-type img {
        // Adjust colors but keep the opacity
        filter: opacity(15%) hue-rotate(-60deg) saturate(400%);
    }

    .loc-iss {
      @include place-split-layout-element(right, "6/8");
      align-self: center;
    }

    .loc-nist {
      @include place-split-layout-element(right, "8/13");
      align-self: center;
    }




  }

  /////////////////////////////////////////////////////////////

  #microfluidics {

    // There are only 5 paragraphs of text in the main column in split layout, but the side column is long, so we extend it to 6 rows in case there's overflow (otherwise the main column stretches vertically to match).

    @include split-layout-txt-pics-hero(
      $image-side: left,
      $image-row-span: 3,
      $background: dark,
      $text-width: 68ch,
      $pics-width: 42ch,
    );

    .expert {
      @include place-split-layout-element(left, "9/12");
      align-self: center;
    }
  }

  /////////////////////////////////////////////////////////////

  #pnipam {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $image-row-span: 4,
      $background: light,
      $text-width: 68ch,
      $pics-width: 42ch,
    );

    > figure:first-of-type img {
        filter: opacity(25%) saturate(200%);
    }

    .pnipam-formula {
      justify-self: center;
      max-width: 12rem;
    }

    .pnipam-switch-figures {
      // Make this a little grid so we can lay out our collage
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .pnipam-switch-figures1,
    .pnipam-switch-figures2 {

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .pnipam-switch-figures3 {
      // Spread out the diagram to mirror the state of PNIPAM under the two photos
      grid-column: 1/3;
      grid-row: 2/3;

      img {
        width: 100%
      }
    }

    .pnipam-formula {
      @include place-split-layout-element(right, "6/8");
    }

    .pnipam-switch-figures {
      @include place-split-layout-element(left, "8/10");

      .caption {
        text-align: left;
      }
    }

    .expert {
      @include place-split-layout-element(right, "8/9");
    }

    #pnipam-transition-video {
      @include place-split-layout-element(right, "9/11");
      align-self: end;

      .embed {
          @include responsive-embed(widescreen);
      }
    }

  }





  /////////////////////////////////////////////////////////////

  #surface-functionalization {

    @include split-layout-hero(
      $background: dark,
    );

    // This section has subsections

    #grafting-chemistry {
      @include split-layout-txt-pics(right, 2, 42ch, 68ch);

      .expert {
        @include place-split-layout-element(right, "2/4");
        align-self: center;
      }

      .silane-afm {
        @include place-split-layout-element(left, "3/4");
        @include side-by-side-figures(.5rem);
      }
    }

    #contact-angle {
      @include split-layout-txt-pics(left, 2, 42ch, 68ch);

      .functionalization-hydrophobic-hydrophilic {
        @include side-by-side-figures();
      }

      .expert {
        @include place-split-layout-element(left, "2/5");
        align-self: center;
      }
    }

    #infrared-spectroscopy {
      @include split-layout-txt-pics(right, 2, 42ch, 68ch);

      .functionalization-ftir {
        @include place-split-layout-element(right, "2/5");
      }
    }

    .hydrophilic,
    .hydrophobic {

      overflow: hidden; // we're zomming on the images to better see the droplets, but we don't want their footprint to increase

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .hydrophilic img {
        object-position: 70%;
        transform: scale(1.5);
    }

    .hydrophobic img {
      object-position: 25%;
      transform: scale(1.5);
    }

    .functionalization-hydrophobic-hydrophilic {
      @include place-split-layout-element(right, "4/5");
    }

    // adjust bottom margins

    #grafting-chemistry,
    #contact-angle,
    #infrared-spectroscopy {
      margin-bottom: 1rem;
    }

  }

  /////////////////////////////////////////////////////////////

  #electrokinetic-mixing {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $image-row-span: 4,
      $background: dark,
      $text-width: 68ch,
      $pics-width: 42ch,
    );

    .mixers-principle {
      @include place-split-layout-element(right, "8/10");
      align-self: center;
    }

  }

  /////////////////////////////////////////////////////////////


  #electro-osmotic-flow {

    @include split-layout-hero(
      $background: light,
    );

    > figure:first-of-type img {
        // Increase opacity and saturation a bit since contrast of the image is low.
        filter: opacity(20%) saturate(300%);
    }

    #electro-osmosis {
      @include split-layout-txt-pics(left, 2, 42ch, 68ch);

      .eof-edl {
        @include place-split-layout-element(left, "2/5");
      }
    }

    #controlling-the-electro-osmotic-flow-with-pnipam {
      @include split-layout-txt-pics(right, 2, 42ch, 68ch);

      .eof-experiment {
        @include place-split-layout-element(right, "2/5");
        //align-self: center;

        figure img {
          padding: .5rem;
        }
      }

      .eof-pnipam-results {
        @include place-split-layout-element(left, "4/5");

        figure img {
          padding: .5rem;
        }
      }
    }

  }

  /////////////////////////////////////////////////////////////

  #microfluidic-chip {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $image-row-span: 4,
      $background: dark,
      $text-width: 75ch,
      $pics-width: 35ch,
    );

    .chip-pillars {
      @include place-split-layout-element(right, "6/11");
      align-self: end;
    }

    .chip-beads {
      @include place-split-layout-element(right, "11/13");
      align-self: center;
    }

    .chip-blender {
      @include place-split-layout-element(left, "13/14");
      @include side-by-side-figures(.3rem);

    }

  }

  /////////////////////////////////////////////////////////////

  #heating-elements {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $image-row-span: 1,
      $background: dark,
      $text-width: 75ch,
      $pics-width: 35ch,
    );

    > figure:first-of-type img {
      // make this a little darker to ensure legibility despite the resistor's glow
        filter: brightness(45%);
    }

    .comsol-3d {
      @include place-split-layout-element(right, "6/8");
    }

    .comsol-ligne-maillage {
      @include place-split-layout-element(right, "8/12");
      align-self: center;

      .comsol-maillage {
        max-width: 25rem;
        margin: auto;
      }
    }

    .heat-transfer-sim {
      @include spread-split-layout-element("12/13");
    }

    .ir-camera {
      @include place-split-layout-element(right, "13/17");
    }

  }

  /////////////////////////////////////////////////////////////


  #catching-proteins {

    @include split-layout-txt-pics-hero(
      $image-side: right,
      $image-row-span: 4,
      $background: dark,
      $text-width: 68ch,
      $pics-width: 42ch,
    );

    .catching-proteins-principle {
      @include place-split-layout-element(right, "6/9");
      align-self: center;
    }

    .catching-proteins-preconcentration {
      @include spread-split-layout-element("9/10");
    }

    .catching-proteins-capillary {
      @include place-split-layout-element(right, "10/12");
      align-self: center;
    }

    .catching-proteins-chip {
      @include place-split-layout-element(left, "12/13");
      @include side-by-side-figures();
    }

    .catching-streptavidin {
      @include place-split-layout-element(right, "12/14");
      align-self: center;
    }

  }

  /////////////////////////////////////////////////////////////


  #beyond-the-research {

    @include split-layout-hero(light, 42ch, 68ch);

    > figure:first-of-type img {
        // Increase opacity and saturation a bit since contrast of the image is low.
        filter: opacity(25%) saturate(200%);
    }

    @media screen and (min-width: 80ch) {
      figure:nth-of-type(3) {
        grid-row: 10/13;
      }
    }

  }

  /////////////////////////////////////////////////////////////




}
