@mixin spotting-pattern() {
  p,
  ul, {
    font-size: .7rem;
  }

  ul {
    margin-bottom: .5rem;
  }

  li p {
    margin-bottom: 0;
  }
}

article.custom-biochips {

  h2 {
    font-size: calc(1.5rem + 2vw);
    line-height: calc(2.5rem + 2vw);
  }

  /////////////////////////////////////////////////////////////

  #technical-abstract {
    @include graph-paper;
  }

  #technical-abstract {
    padding: 1.5rem calc(1.5rem + 2vw);
    border: 2px dotted #0B0;
    margin-bottom: 3rem;
  }

  /////////////////////////////////////////////////////////////



  /////////////////////////////////////////////////////////////

  #biochips-and-microarrays{
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );

    > figure:first-of-type img {
      // make this a little darker to ensure legibility
        filter: brightness(35%);
    }
  }

  #mass-parallel-testing {
    @include split-layout-txt-pics(
      $image-side: left,
      $pics-width: 50ch,
      $text-width: 65ch,
    );

    .biochip {
      @include place-split-layout-element(left, "2/4");
      align-self: center;
    }

    .spotter {
      @include place-split-layout-element(left, "4/7");
      align-self: center;
    }

  }

  #fluorescence-in-biochips {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 2,
      $pics-width: 55ch,
      $text-width: 65ch,
    );

    .fluorescence-diagrams {
      @include place-split-layout-element(right, "2/5");
      img {
        width: 100%;
        max-width: 18rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .fluorescence-palette {
      @include place-split-layout-element(left, "4/5");
      @include side-by-side-figures(0);

      .palette {
        grid-column: 1/3;
        grid-row: 2/3;
        img {
          width: 100%;
          max-height: 1.5rem;
        }
      }

      p.caption {
        grid-row: 3/4;
      }
    }
  }

  #surface-functionalization {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 2,
      $pics-width: 35ch,
      $text-width: 65ch,
    );

    .silane {
      @include place-split-layout-element(right, "1/4");
      align-self: center;
    }

    .cea2-protocol {
      //@include place-split-layout-element(left, "4/5");
      @include spread-split-layout-element("4/5");
      margin-bottom: 2rem;
      justify-self: center;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;

    }

    .reactor {
      @include place-split-layout-element(right, "5/8");
    }
  }

  #antibody-microarray-on-cea-2-protocol{
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );
  }

  #substance-p {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 2,
      $pics-width: 50ch,
      $text-width: 50ch,
    );

    dl {
      @include place-split-layout-element(right, "3/4");
      align-self: center;
    }
  }

  #immunoassay-protocols {
    grid-column: 2/5;
    max-width: 75ch;
    justify-self: center;

    img {
      width: 100%;
    }
  }

  #parameter-study-protocol-optimization {

    //grid-column: 1/6;

    column-width: 25ch;
    column-gap: 2rem;

    margin-top: 2rem;
    margin-bottom: 3rem;

    h3,
    & > p {
      column-span: all;
    }

    section {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      box-shadow: 0 0 .5em #AAA;
      border-radius: .3em;

      h4 {
        margin-top: .5rem;
        border-bottom: 1px solid #AAA;
      }

      p {
        font-size: .9rem;
        line-height: 1.1rem;
        margin-bottom: .8rem;
      }

      h4,
      & > p {
        margin-left: .7rem;
        margin-right: .7rem;
      }

      ul {
        margin-right: .7rem;
      }
    }

    section,
    section * {
      break-inside: avoid;
    }

    .spotting-pattern {
      @include spotting-pattern();
    }

  }

  .spotting-pattern {
    @include spotting-pattern();
  }



  #reaction-kinetics {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 3,
      $pics-width: 50ch,
      $text-width: 50ch,
    );

    .reaction-kinetics-chart {
      @include place-split-layout-element(right, "4/7");
    }
  }

  #photothermal-deflection-spectroscopy {
    @include split-layout-txt-pics(
      $image-side: left,
      $image-row-span: 5,
      $pics-width: 50ch,
      $text-width: 50ch,
    );

    .figures {
      align-self: center;
    }
  }

  #neutron-reflectometry {
    @include split-layout-txt-pics(
      $image-side: right,
      $image-row-span: 5,
      $pics-width: 50ch,
      $text-width: 50ch,
    );

    figure {
      align-self: center;
    }
  }

  #vapor-phase-silanization-for-proteomics {
    @include split-layout-hero(
      $background: dark,
      $left-width: 65ch,
      $right-width: 65ch
    );
  }


}
