@use '../common/decoration';
@use '../common/layout';
@use '../common/split';


/////////////////////////////////////////////////////////////

#technical-abstract,
dl {
  @extend %graph-paper;
}

#technical-abstract {
  padding: 1.5rem calc(1.5rem + 2vw);
  border: 2px dotted #0B0;
  margin-bottom: 3rem;
}

/////////////////////////////////////////////////////////////

#kudos {
  display: grid;
  grid-template-columns: minmax(.5rem, 2vw) 1fr 4fr minmax(.5rem, 2vw);
  grid-template-rows: minmax(.5rem, 10vh) 20vh min-content min-content;

  figure {
    grid-column: 1/6;
    grid-row: 1/3;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 0 70%;
      z-index: 25;
      filter: brightness(50%);
      transform: scaleX(-1);
    }

    figcaption{
      text-align: right;
    }

  }

  h2 {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    text-align: left;
    margin: 0;
    z-index: 50;
    color: #f3f3f3;

    font-size: calc(1.5rem + 2vw);
    line-height: calc(2.5rem + 2vw);
  }

  blockquote {
    grid-column: 2/4;
    border-left: none;

    &:first-of-type {
      margin-top: 2rem;
    }

    p {
      font-size: calc(1rem + .5vw);
      line-height: calc(1.5rem + 1vw);
      margin-bottom: 1rem;
    }

    .attribution {
      font-size: calc(1rem + 0.15vw);
      line-height: calc(1.5rem + .4vw);
      padding-left: calc(1.5rem + 5vw);
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 150ch) and (min-height: 80ch){

    // if we have a large enough viewport, let's make a nice spread and overlay all the text

    grid-template-columns: minmax(.5rem, 2vw) minmax(min-content, 1fr) minmax(.5rem, 6vw) minmax(min-content, 1fr) minmax(.5rem, 2vw);
    grid-template-rows: minmax(.5rem, 2vh) 25vh 50vh minmax(.5rem, 2vh);

    figure {
      grid-column: 1/6;
      grid-row: 1/5;
    }

    h2 {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    blockquote {

      align-self: center;
      padding: 0;
      z-index: 50;
      margin-bottom: 0;

      &:first-of-type {
        grid-column: 2/3;
        grid-row: 3/4;
      }

      &:nth-of-type(2) {
        grid-column: 4/5;
        grid-row: 2/4;
      }

      p {
        color: #f3f3f3;
      }
    }
  }

}

/////////////////////////////////////////////////////////////


#honey-i-shrunk-the-lab {
  @extend %golden-section-hero-golden;
}

/////////////////////////////////////////////////////////////

#microfluidics {
  @extend %golden-section-hero-golden;
}

/////////////////////////////////////////////////////////////

#pnipam {
  @extend %golden-section-hero-golden;
}

.pnipam-formula img {
  max-width: 20rem;
  margin: auto;
}

.pnipam-switch-figures {
  // Make this a little grid so we can lay out our collage
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .caption {
    text-align: left;
  }
}

.pnipam-switch-figures1,
.pnipam-switch-figures2 {

  img {
    height: 100%;
    object-fit: cover;
  }
}

.pnipam-switch-figures3 {
  // Spread out the diagram to mirror the state of PNIPAM under the two photos
  grid-column: 1/3;
  grid-row: 2/3;

  img {
    width: 100%
  }
}


/////////////////////////////////////////////////////////////

#surface-functionalization {
  @extend %golden-section-hero-golden;
}

// This section has subsections

#grafting-chemistry {
  @extend %golden-grid;
}

.silane-afm {
  @include split.place(left, "3/4");
  @include layout.side-by-side-figures(.5rem);
}

#contact-angle {
  @extend %golden-grid;
}

.functionalization-hydrophobic-hydrophilic {
  @include layout.side-by-side-figures();
}

#infrared-spectroscopy {
  @extend %golden-grid;
}


.hydrophilic,
.hydrophobic {

  overflow: hidden; // we're zomming on the images to better see the droplets, but we don't want their footprint to increase

  img {
    height: 100%;
    object-fit: cover;
  }
}

.hydrophilic img {
  object-position: 70%;
  transform: scale(1.5);
}

.hydrophobic img {
  object-position: 25%;
  transform: scale(1.5);
}



/////////////////////////////////////////////////////////////

#controlling-surface-properties-with-pnipam {
  @extend %golden-section-hero-golden;
}

#electrokinetic-mixing,
#electro-osmotic-flow,
#controlling-the-electro-osmotic-flow-with-pnipam {
  @extend %golden-grid;
}

/////////////////////////////////////////////////////////////

#microfluidic-chip {
  @extend %golden-section-hero-golden;
}

.chip-blender {
  @include layout.side-by-side-figures(.3rem);
}


/////////////////////////////////////////////////////////////

#heating-elements {
  @extend %golden-section-hero-golden;
}

.comsol-maillage {
  max-width: 25rem;
  margin: auto;
}

/////////////////////////////////////////////////////////////

#catching-proteins {
  @extend %golden-section-hero-golden;
}

.catching-proteins-chip {
  @include layout.side-by-side-figures();
}
