@use '../common/decoration';
@use '../common/layout';


/////////////////////////////////////////////////////////////

.pnipam-formula img {
  max-width: 20rem;
  margin: auto;
}

.pnipam-switch-figures {
  @include layout.side-by-side-figures();
}


/////////////////////////////////////////////////////////////


.silane-afm {
  @include layout.side-by-side-figures(.5rem);
}
.functionalization-hydrophobic-hydrophilic {
  @include layout.side-by-side-figures();
}


.hydrophilic,
.hydrophobic {
  overflow: hidden; // we're zomming on the images to better see the droplets, but we don't want their footprint to increase

  img {
    height: 100%;
    object-fit: cover;
  }
}

.hydrophilic img {
  object-position: 70%;
  transform: scale(1.5);
}

.hydrophobic img {
  object-position: 25%;
  transform: scale(1.5);
}

/////////////////////////////////////////////////////////////


.chip-blender {
  @include layout.side-by-side-figures(.3rem);
}


/////////////////////////////////////////////////////////////

#heating-elements {
}

.comsol-maillage {
  max-width: 25rem;
  margin: auto;
}

/////////////////////////////////////////////////////////////

.catching-proteins-chip {
  @include layout.side-by-side-figures();
}
