@use '../common/layout';
@use '../common/split';

// Styles for sections


#knowledge-belongs-to-all-of-us {
  // Hide part of the Wikipedia logo
  overflow: hidden;
}

.wikipedia-logo {
  float:right;
  width: calc(5rem + 30vw);
  shape-outside: circle(60% at 68% 45%);
  margin: .5rem;
  margin-right: -10vw;
}


#how-i-think,
#knowledge-belongs-to-all-of-us,
#science-engineering,
#playfulness-creativity,
#a-life-of-learning {
  @extend %new4hero-section;
}




#integrating-information,
#understanding-the-human-element,
#seeing-systems,
#connecting-people-and-ideas,
#seeing-different-perspectives,
#working-as-a-community,
#justice-and-belonging {
  @include split.cover(
  $image-side: left,
  $image-row-span: 5,
  $image-position: 65%,
  );
}

#integrating-information {
  figure {
    grid-row: 1/4;
    margin: 0;
    outline: .4rem double white;
    outline-offset: -1rem;
  }
}

#understanding-the-human-element {
  figure {
    box-shadow: rgba(0,0,0,.4) 0 .3rem 1rem;
  }
}
