@use '../common/layout';
@use '../common/split';


// Styles for sections


#knowledge-belongs-to-all-of-us {
  // Hide part of the Wikipedia logo
  overflow: hidden;
}

.wikipedia-logo {
  float:right;
  width: calc(5rem + 30vw);
  shape-outside: circle(60% at 68% 45%);
  margin: .5rem;
  margin-right: -10vw;
}


#how-i-think {
  @extend %golden-section-hero-full;
}

#how-i-think-1,
#knowledge-belongs-to-all-of-us-1,
#science-engineering-1 {
  @extend %golden-section-hero-golden;
}

#how-i-think-2 {
  @extend %golden-section-hero-golden;
}


#knowledge-belongs-to-all-of-us,
#science-engineering,
#playfulness-creativity,
#a-life-of-learning {
  @extend %new4hero-section;
}


//section let's fix hero titles and migrate everything before we do this
#integrating-information,
#understanding-the-human-element,
#seeing-systems,
#connecting-people-and-ideas,
#seeing-different-perspectives,
#working-as-a-community,
#justice-and-belonging {
  @extend %golden-grid;
}
