@use '../common/decoration';
@use '../common/layout';
@use '../common/split';

%spotting-pattern {
  p,
  ul, {
    font-size: .7rem;
  }

  ul {
    margin-bottom: .5rem;
  }

  li p {
    margin-bottom: 0;
  }
}

/////////////////////////////////////////////////////////////

#technical-abstract {
  @extend %graph-paper;
  padding: 1.5rem calc(1.5rem + 2vw);
  border: 2px dotted #0B0;
  margin-bottom: 3rem;
}

/////////////////////////////////////////////////////////////

#biochips-and-microarrays{
  @extend %golden-section-hero-golden;
}

#mass-parallel-testing,
#fluorescence-in-biochips,
#surface-functionalization,
#substance-p,
#immunoassay-protocols,
#reaction-kinetics,
#photothermal-deflection-spectroscopy,
#neutron-reflectometry,
#adapting-the-protocol,
#contact-angle-measurement,
#atomic-force-microscopy,
#antibody-microarray-on-vapor-phase-silane,
#biochiplab,
#fluorescence-microscopy,
#mass-spectrometry {
  @extend %golden-grid;
}


/////////////////////////////////////////////////////////////

.fluorescence-palette {
    @include layout.side-by-side-figures(0);

    .palette {
      grid-column: 1/3;
      grid-row: 2/3;
      img {
        max-height: 1.5rem;
      }
    }

    p.caption {
      grid-row: 3/4;
    }
  }

/////////////////////////////////////////////////////////////

.cea2-protocol {
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  img {
    width: unset;
  }
}

/////////////////////////////////////////////////////////////

#antibody-microarray-on-cea-2-protocol{
  @extend %golden-section-hero-golden;
}

#parameter-study-protocol-optimization {

  column-width: 25ch;
  column-gap: 2rem;

  margin-top: 2rem;
  margin-bottom: 3rem;

  h3,
  & > p {
    column-span: all;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    box-shadow: 0 0 .5em #AAA;
    border-radius: .3em;

    h4 {
      margin-top: .5rem;
      border-bottom: 1px solid #AAA;
    }

    p {
      font-size: .9rem;
      line-height: 1.1rem;
      margin-bottom: .8rem;
    }

    h4,
    & > p {
      margin-left: .7rem;
      margin-right: .7rem;
    }

    ul {
      margin-right: .7rem;
    }
  }

  section,
  section * {
    break-inside: avoid;
  }

  .spotting-pattern {
    @extend %spotting-pattern;
  }

}

.spotting-pattern {
  @extend %spotting-pattern;
}

/////////////////////////////////////////////////////////////

#alternative-detection-methods {
  @extend %golden-section-hero-golden;
}

.reaction-kinetics-diagram img {
  max-width: 45ch;
  justify-self: center;
}

/////////////////////////////////////////////////////////////

#neutron-reflectometry {
  table {

    th, td {
      text-align: center;
    }

    th:first-of-type, td:first-of-type {
      text-align: left;
    }
  }
}

/////////////////////////////////////////////////////////////

#vapor-phase-silanization-for-proteomics,
#peptidic-digestion-mass-spectrometry {
  @extend %golden-section-hero-golden;
}

.vapor-phase-diagram img {
  max-width: 20ch;
  display: block;
  margin: auto;
}

/////////////////////////////////////////////////////////////

#atomic-force-microscopy {
  .figures {
    @include layout.side-by-side-figures(0, 3);
  }
}

/////////////////////////////////////////////////////////////
