header {
  display: grid;
  grid-template-columns: 6fr minmax(min-content, 3fr) 1fr;
  grid-template-rows: 7fr 5fr min-content 1fr min-content;
  height: 90vh;

  img {
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 50%;
    z-index: 25;
  }

  figcaption {
    grid-column: 2/5;
    grid-row: 5/6;
    display:block;
    text-align: right;
    align-self: start;
    margin-bottom: 0;
    z-index: 50;
  }

  h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 50;
    display:block;
    align-self: end;
    text-align: right;
    background-color: #332d2f44;
    color: #f3f3f3;
    padding: .5rem;
    font-size: calc(2rem + 2vw);
    line-height: calc(2.5rem + 2vw);
  }

  p.dateline {
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 50;
    align-self: start;
    text-align: right;
    font-variant-caps: small-caps;
    font-size: 1rem;
    color: #f3f3f3;
    padding: .5rem;
  }

}
