@use '../modules/split';

article.page-default {

  @include layout.default();

  header, .entry-content {
    grid-column: 2/3;
  }

  h1 {
    margin-top: 2rem;
  }

  h2 {
    margin: 2rem 0;
  }

  /////////////////////////////////////////////////////////////

}
