@use '../settings' as *;
@use 'fonts';

/**
* Define our fonts
*/

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  @extend %phenix-serif;
  color: $body-font-color;
}

h1 {
  @extend %phenix-serif-bold;
}

h2,
h3,
h4,
.stakes-header-text {
  @extend %phenix-sans-bold;

  em {
    @extend %phenix-sans-italic;
  }
}

// font sizes

p {
  font-size: min(calc(1.2rem + .5vw), 2rem);
}

h1 {
  font-size: min(calc(3rem + 2vw), 5.5rem);
}

h2 {
  font-size: min(calc(2rem + 1.5vw), 4rem);
}

h3 {
  font-size: min(calc(1.7rem + .6vw), 3rem);
}


strong {
  @extend %phenix-serif-bold;
}

em,
.admonition.note p {
  @extend %phenix-serif-italic;
}

em strong, strong em {
  @extend %phenix-serif-bolditalic;
}

pre {
  @extend %phenix-monospace;

  strong {
    @extend %phenix-monospace-bold;
  }

  em {
    @extend %phenix-monospace-italic;
  }

  em strong, strong em {
    @extend %phenix-monospace-bolditalic;
  }
}

.expert {

  @extend %phenix-sans;

  strong {
    @extend %phenix-sans-bold;
  }

  em {
    @extend %phenix-sans-italic;
  }

  font-size: .9rem;

  p {
    margin-bottom: 1rem;
  }

}

blockquote {
  @extend %phenix-serif-italic;
}

figcaption,
.caption,
.legend,
.sidebar {
  @extend %phenix-sans;
  font-size: .8rem;

  em {
    @extend %phenix-sans-italic;
  }

  strong {
    @extend %phenix-sans-bold;
  }
}

.legend, .sidebar {
  font-size: .8rem;
}

figcaption, .caption {
  font-size: .7rem;
  color: #6a6a6a;

  a {
    color: #6a6a6a;

    &:hover {
      color: $primary-color;
    }
  }
}


a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: $body-font-color;

  &.privacy-policy {
    text-decoration-line: none;
  }

}

.footnote-reference {
  text-decoration: none;
  font-size: 80%;
  // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}


h2 {
  text-align: center;
}

.highlights {
  @extend %phenix-serif;
  font-style: normal;
  font-size: 120%;
  padding: 0;
  border: none;

  em {
    @extend %phenix-serif-italic;
    font-style: italic;
  }
}

p.continue-reading {
  @extend %phenix-sans-bold;
  text-align: right;
  margin-top: .5rem;

  a::after {
    content: "☞";
    display: inline-block;
    margin-left: .3rem;
  }
}

// Footnotes

.footnote-reference, .fn-backref {
  font-size: 80%;
  text-decoration: none;
}

.fn-backref {
  align-self: start;
}

.fn-backref, .footnote p {
  font-size: .8rem;
}


section:last-child, p:last-child {
  margin-bottom: 0;
}

// Footer

body > footer {
  @extend %phenix-sans;

  button {
    @extend %phenix-sans-bold;
  }
}
