@use '../settings' as *;
@use 'fonts';

/**
 * phenix Serif
 */

%phenix-serif {
    font-family: fonts.$phenix-serif;
}

%phenix-serif-bold {
    font-family: 'Linux Libertine Regular Bold', 'Baskerville', 'Georgia', serif;
    font-weight: bold;
}

%phenix-serif-italic {
    font-family: 'Linux Libertine Regular Italic', 'Baskerville', 'Georgia', serif;
    font-style: italic;
}

%phenix-serif-bolditalic {
    font-family: 'Linux Libertine Regular Bold Italic', 'Baskerville', 'Georgia', serif;
    font-weight: bold;
    font-style: italic;
}

%phenix-serif-display {
    font-family: 'Linux Libertine Display Regular', 'Baskerville', 'Georgia', serif;
}

%phenix-serif-semibold {
    font-family: 'Linux Libertine Semibold', 'Baskerville', 'Georgia', serif;
    //font-weight: 600;
}

%phenix-serif-semibold-italic {
    font-family: 'Linux Libertine Semibold Italic', 'Baskerville', 'Georgia', serif;
    font-weight: 600;
    font-style: italic;
}

/**
 * phenix Sans
 */

%phenix-sans {
    font-family: fonts.$phenix-sans;
}

%phenix-sans-bold {
    font-family: 'Linux Biolinum Regular Bold', 'Futura', 'Verdana', sans-serif;
    font-weight: bold;
}

%phenix-sans-italic {
    font-family: 'Linux Biolinum Regular Italic', 'Futura', 'Verdana', sans-serif;
    font-style: italic;
}

/**
 * phenix Monospace
 */

%phenix-monospace {
    font-family: fonts.$phenix-monospace;
}

%phenix-monospace-italic {
    font-family: 'Latin Modern Monospace Italic', 'Courier', monospace;
    font-style: italic;
}

%phenix-monospace-bold {
    font-family: 'Latin Modern Monospace Light Bold', 'Courier', monospace;
    font-weight: bold;
}

%phenix-monospace-bolditalic {
    font-family: 'Latin Modern Monospace Light Bold Oblique', 'Courier', monospace;
    font-weight: bold;
    font-style: italic;
}


/**
 * Define our fonts
 */

body {
    @extend %phenix-serif;
}

h1 {
    @extend %phenix-serif-bold;
}

h2, h3, h4 {
    @extend %phenix-sans-bold;

    em {
        @extend %phenix-sans-italic;
    }
}

strong {
    @extend %phenix-serif-bold;
}

em,
.admonition.note p {
    @extend %phenix-serif-italic;
    }

em strong, strong em {
    @extend %phenix-serif-bolditalic;
}

pre {
    @extend %phenix-monospace;

    strong {
        @extend %phenix-monospace-bold;
    }

    em {
        @extend %phenix-monospace-italic;
    }

    em strong, strong em {
        @extend %phenix-monospace-bolditalic;
    }
}

.expert {

  @extend %phenix-sans;

  strong {
      @extend %phenix-sans-bold;
  }

  em {
      @extend %phenix-sans-italic;
  }

  font-size: .9rem;

  p {
    margin-bottom: 1rem;
  }

}

blockquote {
    @extend %phenix-serif-italic;
}

figcaption,
.caption,
.legend,
.sidebar {
    @extend %phenix-sans;
    font-size: .8rem;

    em {
        @extend %phenix-sans-italic;
    }

    strong {
        @extend %phenix-sans-bold;
    }
}

.legend, .sidebar {
    font-size: .8rem;
}

figcaption, .caption {
    font-size: .7rem;
    color: #6a6a6a;

    a {
        color: #6a6a6a;

      &:hover {
        color: $primary-color;
      }
    }
}


a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: $body-font-color;

    &.privacy-policy {
      text-decoration-line: none;
    }

}

.footnote-reference {
    text-decoration: none;
    font-size: 80%;
    // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}


h2 {
    text-align: center;
}

.highlights {
    @extend %phenix-serif;
    font-style: normal;
    font-size: 120%;
    padding: 0;
    border: none;

    em {
        @extend %phenix-serif-italic;
        font-style: italic;
    }
}

p.continue-reading {
  @extend %phenix-sans-bold;
  text-align: right;
  margin-top: .5rem;

  a::after {
    content: "☞";
    display: inline-block;
    margin-left: .3rem;
  }
}

// Footnotes

.footnote-reference, .fn-backref {
  font-size: 80%;
  text-decoration: none;
}

.fn-backref {
  align-self: start;
}

.fn-backref, .footnote p {
  font-size: .8rem;
}


section:last-child, p:last-child {
  margin-bottom: 0;
}

// Footer

body > footer {
  @extend %phenix-sans;

  button {
      @extend %phenix-sans-bold;
  }
}
