extends master.jade

block article
    if collections[archive] && collections[archive].length  > 0
        each item in collections[archive]
            h2
                a(href='/'+item.path)!= item.title
    else
        h2 No articles to display
                

    
