extends master.jade

block css
    if image
        style @media screen and (min-width: 640px) {.hero {background: url('/files/#{image}') no-repeat center center; background-size: cover;}}
    else
        style @media screen and (min-width: 640px) {.hero {background: url('/files/default_picture_full.jpg') no-repeat center center; background-size: cover;}}

block header
    include _hero

block article
    article
        div.article-content.row!= contents
        p= topics
    
block editLinks
    include _editLinks
                
block nav
    include _prevnext
