html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
    body
        article
            if image
                img(src= image)
            else
                img(src='/images/default_picture_full.jpg')
                    
            h1 Hello world!
            p Yes why hello.
            div!= contents
            p= topics
