doctype html
html.no-js(lang= locale)
    block head
        head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title
            link(href='/bits/fumseck.css', rel='stylesheet')
            link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet')
    
    body
        block header
            include _topbar.jade
            h1= title
            
        block toc
            include _toc.jade
                      
        block article
            article
                div.article-content.row!= contents
        
        block editLinks
        
        block nav

        block footer
            include _footer.jade
