extends master.jade

block header
    include _simpleHeader

block article
    article
        div.article-content.row!= contents
        p= topics
        
block editLinks
    include _editLinks
        
block nav
    include _prevnext
