.post-default-text, .post-default-project {
    padding: .5em;

    .post-image {
        width: 100%;
        max-width: map-get($breakpoints, 'large');
        margin: auto;
        display:block;
    }

    header {
        text-align: center;
    }

    .entry-content > div {
      display: grid;
      grid-template-columns: minmax(1em, 1fr)
       minmax(0, 65ch) minmax(1em, 1fr);

      & > * {
        grid-column: 2 / 3;
      }

      .full-width, div.section {
        grid-column: 1 / 4;
      }

      & > div.section {
        display: grid;
        grid-template-columns: minmax(0, 1fr)
         minmax(0, 65ch) minmax(0, 1fr);

         & > * {
           grid-column: 2 / 3;
         }

         .full-width {
           grid-column: 1 / 4;
           margin: auto;
         }
      }

    }

    @include breakpoint(small only) {
        .figure, {
            margin-left: -.5em;
            margin-right: -.5em;
        }
    }
}

header {
  margin-bottom: 3rem;
}

.highlights {
  max-width: 65ch;
  margin: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

.page {

  // .entry-content {
  //   max-width: 65ch;
  //   margin: auto;
  // }

  // .entry-content p {
  //     max-width: 65ch;
  //     margin-left: auto;
  //     margin-right: auto;
  // }
  //
  // .sidebar {
  //   max-width: 50vw;
  //   float: right;
  //   margin: 2rem;
  // }
  //
  // .section {
  //   clear: both;
  // }
}


// Attribution lines in blockquotes should be flushed right

.attribution {
    text-align: right;
}


// Objects, videos need to be constrained to their parent.

object, video {
    max-width: 100%;
}

svg {
    // TODO: avoid cropping; https://css-tricks.com/scale-svg/
}

// Project cards

// Icon toolbar
// Alternative: https://foundation.zurb.com/building-blocks/blocks/sticky-footer-css.html

#icon_navbar {
     position: fixed;
     bottom: 0;
     width: 100%;
}
