// line 48
$global-font-size: 140%;

// line 51
$foundation-palette: (
  primary: #008080,
  secondary: #802F00,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

// line 61
$body-font-color: #333;

// line 65
$body-font-family: $fumseck-serif;

// line 134
$paragraph-margin-bottom: 2rem;
